<div class="carta-personal-container">
  <div *ngFor="let user of users" class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl my-5">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48 rounded-lg" src="../../../images/{{ user.imagen }}.jpg" alt="Edición especial">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ user.nombreCompleto }}</div>
        <p class="mt-2 text-gray-500">{{ user.edad }} años . {{ user.sexo }} . {{ user.direccion }} . {{ user.email }}</p>
        <p class="mt-2 text-gray-900 font-bold">{{ user.objetivo }}</p>
        <div class="mt-4">
          <button class="bg-green-500 text-white px-4 py-2 rounded mr-2">Detalles</button>
          <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Editar</button>
          <button class="bg-red-500 text-white px-4 py-2 rounded">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
